// Add predefined macros for your project here. For example:
// #define THE_ANSWER 42
#define _HAS_CXX17 1
#define __cplusplus 201903L
#define _GLIBCXX_HAS_GTHREADS 1
#define _GLIBCXX_USE_C99_STDINT_TR1 1
#define __GNUC__  8

#define BOOST_ASIO_NO_DEPRECATED 1
#define BOOST_ASIO_HAS_STD_FUTURE 1
#define BOOST_ASIO_HAS_CONSTEXPR 1
#define BOOST_ASIO_HAS_VARIADIC_TEMPLATES 1
#define BOOST_ASIO_HAS_MOVE 1
#define BOOST_DATE_TIME_HAS_HIGH_PRECISION_CLOCK 1

#define USE_CLIENT_HTTP2 1
